[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
access-controller = "2vN43sgXS25zWZevcNmfwdWyTTXwdLnyMgotspmVxq5g"
contracts = "BHNvgS6GVAvNwVDRqan9zgRbLy91FknCSEyEw1SToWv3"
shielded-pool = "GZckqK8uj8vioor8QJxW2ATBYmiWYu5tfBhKFWcrtgR"
spend-verifier = "55FvRWv7PoAAFtcfg1FEzTFGQbEhz63YV4npRicXMjyW"
token-hooks = "A4H8uh7rmfHv9YK7X71EYGa3MvjY3F2THGnwbPhX8DZg"
x402-registry = "EUJBVNXkMVsD6F849kREJzJ1FaLUpMhF1Snywz4GJxHn"
zk-meta-registry = "CFaHS4bP2wENLXjG6ecfD4CmziT58pWsRXABCBYfMKjc"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
